@media (max-width: 800px) {
    .register-container, .login-container {
        flex-direction: column;
    }
    .register-side, .register-info, .login-banner, .login-form {
        width: 100% !important;
        min-width: unset;
        box-shadow: none;
        border-radius: 0;
        padding: 30px 14px;
    }
}
@media (max-width: 480px) {
    .register-side, .register-info, .login-banner, .login-form {
        padding: 18px 5px;
    }
    .logo.trekka { font-size: 1.2rem;}
    .stats span { font-size: 0.98rem;}
}
@media (max-width: 380px) {
    body, html { font-size: 15px;}
    .logo.trekka { font-size: 1rem;}
    .step, .stats span, .btn-login, .btn-register, .btn-next { font-size: 0.8rem; padding: 8px;}
}
